.afro{
    text-decoration: none;
    color: black;
    font-size: 35px;
    
}afro a:hover{
    color: black;
}



.hiphop{
    text-decoration: none;
    color: black;
    font-size: 35px;
}

.gospel{
    text-decoration: none;
    color: black;
    font-size: 35px;
}